@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;800&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

body {
  background-color: #FFDF8C;
  
  #root {
    min-height: calc(100vh - 180px);
    margin: 40px;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 50px;
  }
}